<div class="row justify-content-center my-3">
  <div class="posts ">
    <%= form_with model: message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "投稿",class: 'form-submit' %>
    <% end %>
  </div>
</div>